.product-card-container {
    width: 360px;
    height: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: white;
}
.product-title  {
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    padding: 20px;
}
.item
 {
    margin: 0;
 }

 .item img{
    max-width: 80%;
 }
.products {
    width: 80%;
    display: grid;
    gap: 40px;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
}
.see-more {
    text-decoration: none;
    color: #539FAD;
    margin-left:40px;
    margin-bottom: 40px;
}